/* Ukuran desktop */
@media screen and (max-width: 1024px) {
    p {
        font-size: 0.9rem;
        line-height: 1.8rem;
    }

    .grid3 {
        gap: 1rem;
    }
    
    .skills-right ul li {
        font-size: .9rem;
    }
}

/* Ukuran Tablet */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
        width: 150%;
        height: 100vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #fff;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

    .wrapper-home {
        width: 100%;
        flex-direction: row;
    }

    .wrapper-home .profile-photo {
        width: 50%;
        padding: 20px;
    }

    .wrapper-home .text {
        width: 80%;
        padding: 20px;
        margin: 10px;
    }

    .wrapper {
        width: 90%;
        flex-direction: column;
    }

    .wrapper .foto {
        width: 50%;
        padding: 20px;
    }

    .wrapper .desc {
        width: 70%;
        padding: 20px;
        margin: 10px;
    }

}

/* Ukuran mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 150%;
        height: 100vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #fff;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
    }

    nav ul li a {
        margin: -90px;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

    .wrapper-home {
        width: 90%;
        flex-direction: column;
    }

    .wrapper-home .profile-photo {
        width: 65%;
        padding: 20px;
        margin-top: 60px;
    }


    .wrapper-home .text {
        width: 130%;
        padding: 20px;
        margin: 10px;
    }

    .wrapper {
        width: 90%;
        flex-direction: column;
    }

    .wrapper .foto {
        width: 80%;
        padding: 20px;
    }

    .wrapper .desc {
        width: 100%;
        padding: 20px;
        margin: 10px;
    }


}